body {
    background-color: rgb(250, 255, 255);
}

#buttonContainer {
    margin: 12px;
    text-align: center;
}

#button {
    padding: 12px 32px;
    background-color: #e2eb98;
    border: #ffa0d4;
    border-radius: 8px;
    font-size: 1.2em;
    transition: 0.2s ease;
}

#button:hover {
    background-color: #adbf97;
    transition: 0.2s ease;
    cursor: pointer;
}

#container {
    background-color: #ffffff;
    width: 820px;
    min-height: 820px;
    border: 1px solid #e2eb98;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
}

.box {
    transition: background-color 1s ease-out;
    border: 1px solid rgb(224, 224, 224);
}